.menu {
  background-color: lightblue;
  width: 0px;
  position: fixed;
  z-index: 1;
  transition: 0.5s;
  overflow: hidden;
}
.images {
  display: flex;
}

.image-container {
  width: 510px;
  height: 340px;
  overflow: hidden;
  position: relative;
}
.image-slider-section {
  display: flex;
  align-items: center;
}
img {
  flex-grow: 0;
  width: 0px;
}

.current-img {
  width: 520px;
}

.navigation-dots ul {
  display: flex;
  list-style-type: circle;
  column-gap: 8px;
}

.current-dot {
  list-style: disc;
}
